body{
    margin: 0;
    background-color: black;
}


h1{
    font-size: 8vw;
    color: transparent;
    background: radial-gradient(circle, rgba(182,181,198,1) 0%, rgba(148,148,214,1) 35%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
}

.player{
    font-size: 3vw;
    color: transparent;
    background: radial-gradient(circle, rgb(198, 181, 184) 0%, rgb(214, 148, 200) 35%, rgb(195, 0, 255) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    border:  1px white;
    border-radius: 5px;
}

.p-2{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tictactoe{
    display: flex;
    flex-flow: column wrap;
    justify-content: pace-around;
    height: 50vh;
    margin-top: 4vh;
}

.box{
    height: 16vh;    
    
}

.b-1 , .b-2, .b-4, .b-5{
    border-right: solid white;
    border-bottom: solid white;
}
.b-3, .b-6{
    border-right: solid white;
}
.b-7, .b-8{
    border-bottom: solid white;
}

.cont-btn{
    display: flex;
    justify-content: space-around;
}

.container-4{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.box-winner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 70vw;
    border: outset white;
    border-radius: 45px;
}